$Primary-100: hsl(259, 100%, 65%);
$Primary-200: hsl(0, 100%, 67%);

$Neutral-100: hsl(0, 0%, 100%);
$Neutral-200: hsl(0, 0%, 94%);
$Neutral-300: hsl(0, 0%, 86%);
$Neutral-400: hsl(0, 1%, 44%);
$Neutral-500: hsl(0, 0%, 8%);
* {
  // outline: 1px solid red;
}
body {
  background-color: $Neutral-200;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: $Neutral-100;
  border-radius: 1rem 1rem 4.5rem 1rem;
  width: 345px;
  padding: 2rem 0;
  display: grid;
  justify-content: center;
  align-items: center;
}
.table {
  border-collapse: separate;
  border-spacing: 0.7rem 0.3rem;
  text-transform: uppercase;
  color: $Neutral-500;
  width: 90%;
  &__labelWrapper {
    text-align: left;
    font-weight: 500;
    font-size: 0.9rem;
  }
  input {
    box-sizing: border-box;
    padding-left: 0.7rem;
    border: 1px solid $Neutral-300;
    border-radius: 0.5rem;
    height: 3rem;
    width: 5.8rem;
    &:focus {
      outline: none;
    }
  }
}

.btnWrapper {
  margin: 2.5rem auto 1rem;
  display: flex;
  align-items: center;
  width: 96%;
  hr {
    background-color: $Neutral-300;
    border: none;
    height: 1px;
    width: inherit;
  }
  &__btn {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../assets/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2rem;
    background-color: $Primary-100;
    margin: 1rem auto;
    border: none;
    border-radius: 50%;
    width: 3.5rem;
    aspect-ratio: 1;
  }
}

.output {
  color: $Neutral-500;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  &__numbers {
    color: $Primary-100;
    padding-right: 0.6rem;
  }
}
